*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --slider-padding: 5rem;
}

body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
}
.slider {
  display: flex;
  /*width: calc(100% - 2 * var(--slider-padding));*/
  flex-grow: 1;
  transform: translateX(00%);
}
.slider > img {
  flex: 0 0 25%;
  max-width: 25%; /* Need to limit the max-width, otherwise small screen will not fix into 4 cards */
  aspect-ratio: 16 / 9;
  padding: 0.25rem;
}

.handle {
  flex-grow: 0;
  /*width: var(--slider-padding);*/
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin: 0.25rem 0;
}
